<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>Main Page</title>
        <link rel="stylesheet" href="css/main_page_styles/main_pg_style.css" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="level_1">
            <div class="l_1_container">
                <div class="app_name">Social</div>
                <div class="nav_bar">
                    <div class="nav_bar_element" id="chats_btn">Chats</div>
                </div>
            </div>
        </div>
        <div class="level_2">
            <div class="option_bar">
                <div class="top_opt_bar">
                   
                    <div><img src="icons/side_bar/Search.svg" class="opt_bar_icon" /></div>
                    
                </div>
                <div class="bottom_opt_bar">
                    <div><img src="icons/side_bar/Logout.svg" class="opt_bar_icon" /></div>
                </div>
            </div>
            <div class="message_container">
                <div class="mess_act_container">
                    <div class="message">
                        <div class="message_content">
                            <div class="user">
                                <div><img width="50px" height="50px" src="icons/message/img1.jpg" style="border-radius: 50%;"/></div>
                                <div style="font-weight: 600;font-size: larger;"><%=sender_preson %></div>
                                <div style="font-size:small;"><%=dt%> <%=time%></div>
                            </div>
                            <div class="user_content">
                                <div><img src="icons/message/img1.jpg" class="user_cont_img"></div>
                                <div><%= text_content %></div>
                            </div>
                            <div class="like">
                                <div><img src="icons/message/Vector.svg" height="20px" width="20px"/></div>
                                <div><%=like_cnt%></div>
                                <div><img src="icons/message/akar-icons_comment-add.svg" height="20px" width="20px"/></div>
                                <div><%=cmts_cnt%></div>
                                <div><img src="icons/message/fa6-regular_share-from-square.svg" height="20px" width="20px"/></div>
                            </div>
                        </div>
                    </div>

                    <div class="message">
                        <div class="message_content">
                            <div class="user">
                                <div><img width="50px" height="50px" src="img1.jpg" style="border-radius: 50%;"/></div>
                                <div style="font-weight: 600;font-size: larger;">Jane</div>
                                <div style="font-size:small;">23/07/2022 10.39pm</div>
                            </div>
                            <div class="user_content">
                                <div><img src="img1.jpg" class="user_cont_img"></div>
                                <div>A paragraph is a self-contained unit of discourse in writing dealing with a particular point or idea. A paragraph consists of three or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</div>
                            </div>
                            <div class="like">
                                <div><img src="Vector.svg" height="20px" width="20px"/></div>
                                <div>963</div>
                                <div><img src="akar-icons_comment-add.svg" height="20px" width="20px"/></div>
                                <div>63</div>
                                <div><img src="fa6-regular_share-from-square.svg" height="20px" width="20px" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="javascript/main_page/main_page_js.js" type="text/javascript"></script>
    </body>
</html>